
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
  height: 100%;
  margin: 0 0 0 0;
}

body {
  font-family: "gillsans", sans-serif;
  color: #565751;
  font-weight: 300;
  line-height: 1.6; 
  height: 100%;
  margin: 0 0 0 0;
}

nav {
    width: 100%;
}

.header-search {
    display: flex;
    flex-direction: row;
}

.menu {
    position: fixed;
    background-color: #f0f0f0;
/*     display: grid;
    grid-template-columns: 68px repeat(12, 1fr) 68px;
    grid-template-rows: 1fr; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 18px;
    padding-top: 10px;
    width: 100%;
    z-index: 99;
}
.SEARCH {
    background-color: white;
    padding-top: 5px;
    padding-left: 10px;
    justify-self: start;
    width: 220px;
    margin-right: 70px;
    margin-top: 10px;
    margin-left: 15px;
    height: 30px;

}


ul{
    background-color: white;
    margin-left: 68px;
    margin-right: auto;
    list-style: none;
    width: 100%;
    text-align: left;
    padding-top: 0;
    padding-bottom: 6px;
    z-index: 99;
}

li{

    margin-left: 60px;
    padding-left: 20px;
    padding-right: 50px;
    
}

.logo {
    grid-column: 8 / 9;
    margin-left: 0px;
    width: 110px;
    padding-bottom: 5px;
 }

.menu-articles {
    grid-column: 5 / 6;
    place-self: center;
}
.menu-about {
    grid-column: 6 / 7;
    place-self: center;
}

.menu-people {
    grid-column: 10 / 11;
    place-self: center;
}

.menu-value {
    grid-column: 11 / 12;
    place-self: center;
}

.menu-support {
    grid-column: 12 / 13;
    place-self: center;
}

.menu-inspiration {
    grid-column: 13 / 14;
    place-self: center;
}

/* unvisited link */
a:link {
    color: #565751;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: #565751;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: #74cadb;
    text-decoration: none;
    font-style: bold;
  }
  
  /* selected link */
  a:active {
    color: #565751;
    text-decoration: none;
  }

  .wrapper {
      margin: 0 auto;
  }
 

/* main{
    position: relative;
    z-index: 1;
} */

.overall-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    /*position: relative;*/
}
/* .overall-container > div {
    height: 100%;
} */

.scroll {
    float: right;
    /* width: 100%; */
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-right: 0;
    margin-left: 53%;
    margin-top: 65px;
    margin-bottom: 2em;
    z-index: 98;
}

.fixed {
    position: fixed;
    width: 90%;
}

.fixed-internal {
    width: 51%;
    height: 90vh;
    margin-top: 84px;
}


.gallery-img-fixed {
    width: 200%;
}

/*overlay*/

/* --------------------*/
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* repeat(auto-fill, minmax(300px, 1fr))*/
  grid-template-rows: repeat(4, 30vh);
  grid-gap: 18px;
  margin-top: 20px; 
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
  /* object-position: 20% 20%; */
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

  /** Alternative Syntax **/
  /* grid-column: 3 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4;
  grid-row: 1 / span 5; */
}

.gallery__item--4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 4;  */
  /* grid-row: 3 / span 3; */
}

.gallery__item--5 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 4; */
  /* grid-row: 6 / span 3; */
}

.gallery__item--6 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4; */
  /* grid-row: 6 / span 3; */
}

.gallery__item--7 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.gallery__item--8 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;  
}

.gallery__item--9 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.gallery__item--10 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;  
}

footer {
    width: 100%;
    z-index: 10;
}

.footer-text {
    display: grid;
    grid-template-columns: 1.3fr 1fr 2fr 1fr;
    gap: 20px;
    grid-template-rows: 1fr;
    font-size: 16px; 
    font-family: gillsans;
    width: 100%;
    height: 80px;
    background-color: #f0f0f0;
    position: absolute;
}

.area1 {
    grid-column: 1 / 2 ;
    grid-row: 1 / 2;
    margin-left: 80px;
    margin-top: 20px;
    justify-self: start;
    margin-right: 20px;

}

.area1-1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 40px;
    margin-bottom: 30px;
    padding-left: 20px;
    background-color: white;
}

.area2 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: left;
    margin-top: 20px;
}

.area3 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    margin-left: 0px;
    margin-top: 20px;
}

/*about page*/

.about {
    padding-top: 86px;
    justify-self: center;
    margin-left: 68px;
    margin-left: 68px;

}

.gridabout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-self: center;

}

.forwhomtitle {
    display: flex;
    flex-direction: row;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    font-family: "ogg";
    font-size: 70px;
}

.textboxforwhom {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    padding-right: 68px;


}

.whatfortitle {
    display: flex;
    flex-direction: row;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    font-family: "ogg";
    font-size: 70px;
}

.textboxwhatfor {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    padding-right: 68px;
}

.ourvaluestitle {
    display: flex;
    flex-direction: row;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    font-family: "ogg";
    font-size: 70px;
}

.textboxourvalues {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    padding-right: 68px;
}

/* article page*/

.article-container {
    margin-left: 80px;
    margin-right: 68px;
    padding-top: 86px;
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);

}

.opening-cover{
    grid-column: 1 / 11;
    grid-row: 1;
    object-fit: cover;
    justify-self: center;
    overflow: hidden;
}
.cover-img {
    width: 100%;
}
#cat-authour {
    grid-column: 1 / 3;
    font-size: 18px;
    padding-top: 10px;
}
.article-title {
    grid-column: 3 / 9;
    grid-row: 2;

}

 .container-bodytext {
    grid-column: 4 / 8;
    grid-row: 3 / 10;

} 

.author-bio {
    font-family: "gillsans" sans-serif;
    grid-column: 4 / 8;
    font-style: oblique;
    font-size: 14pt;
    padding-top: 18px;
    padding-bottom: 18px;
    line-height: 20px;
}

.bio {
    font-family: "gillsans" sans-serif;
    font-style: oblique;
    grid-column: 4 / 8;
    font-size: 11pt;
}

h1 {
    font-family: ogg;
    font-size: 42px;
    text-align: center;
}

h2 {
    font-family: palatino;
    font-style: italic;
    font-size: 24px;
    text-align: center;
    padding-bottom: 36px;
    padding-top: 26px;
    line-height: 36px;
}

p {
    font-family: palatino;
    font-size: 22px;
    line-height: 36px;
    padding-top: 14px;
    widows: 3;
}
 
.citation {
    display: block;
    float: left;
    font-family: palatino;
    font-style: italic;
    font-size: 32px;
    line-height: 44px;
    width: 462px;
    margin-left: -480px;
    margin-right: 18px;
    padding-left: 50px;

}


.float-right {
    object-fit: cover;
    display: block; 
    float: right;
    width: 480px;
    margin-right: -440px;
    padding-left: 18px;
    padding-right: 20px;

}


.float-left {
    display: block;
    object-fit: cover;
    float: left;
    width: 480px;
    padding-left: 50px;
}

.portraits {
    display: flex;
    flex-direction: row;
    object-fit: cover;
    float: left;
    margin-left: -500px;    
}

#portrait1 {
    width: 130px;
    height: 300px;
    margin-right: 18px;
    margin-left: 50px;
    padding-left: 0px;
}

 #portrait2 {
    width: 130px;
    height: 300px;
    margin-right: 18px;
    padding-left: 0px;
}

#portrait3 {
    width: 130px;
    height: 300px;
    padding-left: 0px;
    margin-right: 10px;
}


#detroit {
    padding-right: 18px;
    margin-left: -490px;
}

#frombrochure {
    padding-right: 18px;
    margin-left: -490px;
}

#sky {
    padding-right: 18px;
    margin-left: -480px;
    padding-left: 60px;
}


.read-more {
    display: flex;
    flex-direction: row;
    height: 360px;
    padding-bottom: 18px;
    z-index: 20;
    position: static;
    overflow-x: scroll;

}

#read-more-section {
    font-size: 18px;
    padding-top: 100px;
    padding-bottom: 18px;
    margin-left: 68px;
}

.read-more-item {
    padding: 0px 6px 18px 12px;
}

.catergory {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 12px;
}

.read-more-img {
    width: 312px;
    height: 132px;
    object-fit: cover;
    position: relative;
}

.imagecenter {

}

.read-more-title {
    font-family: ogg;
    font-size: 24px;
    line-height: 29px;
    width: 312px;
}

/* artciles page*/

.articles-list {
    padding-top: 65px;
    margin-left: 375px;
    width: 750px;
    padding-bottom: 20px;

}

.articles-title {
    font-family: ogg;
    font-size: 30px;
    padding-top: 24px;
    line-height: 38px;
}

.articles-author {
    font-size: 20px;
    line-height: 28px;
    padding-top: 4px;

}

.moneylisa {
    height: 50%;
}

.visualessay-container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

#morework {
    font-size: 18px;
}

.visual-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(12, 150px);
    gap: 24px;
    width: 100%;
    overflow: hidden;
}

.visual-grid-img11 {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    align-self: start;
    justify-content: start;
}

.visual-grid-img12 {
    grid-column: 2 / 3;
    grid-row: 3 / 8;
    align-self: start;
    justify-content: start;
}

/* .visual-grid-img13 {
    grid-column: 1 / 2;
    grid-row: 7 / 10;
    align-self: start;
    justify-content: start;
} */

.visual-grid-img21 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: start;
    justify-content: start;
}

.visual-grid-img22 {
    grid-column: 2 / 4;
    grid-row: 6 / 10;
    align-self: start;
    justify-content: start;
    margin-top: 60px;
}

 .visual-grid-img23 {
    grid-column: 1 / 2;
    grid-row: 5 / 7;
    align-self: start;
    justify-content: start;
    margin-top: -138px;
} 

.visual-grid-img24 {
    grid-column: 2 / 4;
    grid-row: 10 / 13;
    align-self: start;
    justify-content: start;
    margin-top: 18px;
}

.visual-grid-img31 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    align-self: start;
    justify-content: start;
    overflow: hidden;
}

.visual-grid-img32 {
    grid-column: 3 / 4;
    grid-row: 3 / 6;
    align-self: start;
    justify-content: start;
}

.visual-grid-img33 {
    grid-column: 1 / 2;
    grid-row: 6 / 10;
    align-self: start;
    justify-content: start;
    margin-top: 5px;
}

.visual-grid-img34 {
    grid-column: 1 / 2;
    grid-row: 10 / 13;
    align-self: start;
    justify-content: start;
    margin-top: -90px;
}

.visual-grid-img {
    width: 100%;
    /* height: 100%;
    object-fit: cover;
    display: block; 
    object-position: 20% 20%;*/
    overflow: hidden; 
    max-height: 100%;
}